 body {
    margin: 0;
    font-family: 'Montserrat';
}

#topBackground {
    background-color: #000000;
    overflow: hidden;
}

#firstContainer {
    height: 10px;
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
}

#companyName {
    display: inline-block;
    color: #ffffff;
    font-size: 200%;
    font-family: 'Montserrat';
    font-weight: 500;
    text-shadow: 2px 2px #000000;
}

#companyName a {
    text-decoration: none;
    color: #ffffff;
}

#signUpLogin {
    float: right;
    margin-top: 5px;
    margin-right: 10px;    
    color: #ffffff;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding-top: 1%;
}

#search {
    background: #fff;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    padding: 10px;
    width: 50%;
    outline: none;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 150px;
}

#input-icons i {
    position: absolute;
    margin-top: -4px;
    margin-left: 160px;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}

#brandlogo {
    max-width: 60px;
    max-height: 60px;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(102%) contrast(103%);
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #000000;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.student-profile .table td .checked {
    color: rgb(56, 204, 56);
}

th {
    width: 40%;
    text-align: center;
}

td {
    text-align: center;
}